@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
/* image element styling */

.image-container {
    display: flex;
    justify-content: center;
}

/* .about-me-img {
    width: 70%;
} */

img {
    /* box-shadow: 10px 10px #D9D9D9; */
    width: 20%;
}

/* body element styling */

.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* p element styling */

.presentation-box {
    align-items: center;
    /* background-color: #D9D9D9; */
    padding: 2%;
    width: 50%;
    /* border: solid #284B63; */
    margin: 3%;
}

/* call to action element styling */

.presentation-box a {
    width: 20%;
    display: flex;
    justify-content: center;
    border: solid #284B63;
    align-items: center;
    margin: 0 auto;
}

/* 2 flexbox elements styling */

.side-by-side {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 3%;
}

.about-me-box {
    align-items: center;
    background-color: #D9D9D9;
    padding: 2%;
    width: 70%;
    border: solid #284B63;
    margin: 2%;
    box-shadow: 10px 10px #D9D9D9;
}

/* box element above footer styling */

.bottom-box {
    display: flex;
    width: 100%;
    margin-bottom: 3%;
    justify-content: center;
}

/* @media rule styling */

@media screen and (max-width: 600px) {
    .about-me-container {
        display: flex;
        justify-content: center;
        width: 100%
    }
    .presentation-box a {
        margin: auto;
        width: fit-content;
        padding: 2%;
    }
    .side-by-side {
        display: block;
        margin: 0;
    }
    .about-me-box {
        width: 100%;
        margin: 10% 0;
    }
    .about-me-box li {
        padding-right: 2%;
    }
    .bottom-box {
        width: 76%;
        margin-top: 0;
    }
}

/* ipad */

@media screen and (min-width: 601px) and (max-width: 768px) {
    .presentation-box a {
        width: 40%;
    }
}

/* iphone5s */

@media screen and (max-width: 320px) {
    ul {
        padding: 0;
        margin: 0;
    }
    .bottom-box {
        width: 70%;
    }
    .about-me-box {
        margin-left: -15px;
    }
}
