/* .blog-container ins {
    text-align: left;
} */

.img-post {
    display: flex;
    float: right;
}

.wrap-text {
    display: block;
    flex-direction: row;
    /* float: right; */
    margin: 5%;
    /* flex-wrap: wrap; */
}

.wrap-text p {
    text-align: justify;
}

@media screen and (max-width: 600px) {
    .img-post {
        display: none;
    }
    .article-content {
        width: fit-content;
    }
    .article-content-container {
        height: fit-content;
    }
    .wrap-text p {
        padding: 0;
    }
}