/* image element styling */

.img-post {
    display: flex;
    float: right;
}

/* p element styling */

.wrap-text {
    display: block;
    flex-direction: row;
    margin: 5%;
}

.wrap-text p {
    text-align: justify;
}

/* @media rule styling */

@media screen and (max-width: 600px) {
    img {
        display: flex;
        width: 50%;
    }
    .img-post {
        padding-left: 30%
    }
    .article-content {
        width: fit-content;
    }
    .article-content-container {
        height: fit-content;
    }
    .wrap-text p {
        padding: 0;
    }
}