.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article-container {
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #D9D9D9;
    padding: 3% 5%;
    margin: 0 10%;
    width: 70%;
    height: 50%;
    border: solid #284B63;
    margin: 3% 5%;
}

.article {
    display: flex;
}

/* p.author {
    text-decoration: underline;
} */

.article-content-container {
    display: flex;
}

.article-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-around;
    height: 50%;
}

.button-read-more {
    background-color: #284B63;
    padding: 2% 2%;
    font-size: 15px;
    color: #FFFFFF;
    border-style: none;
}

.button-read-more:hover {
    background-color: #FFFFFF;
    color: #284B63;
    border-style: none;
}
ins {
    font-style: italic;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    img {
        display: none;
    }
    .article-content {
        width: fit-content;
    }
    .article-content-container {
        height:fit-content;
    }
}

/* @media only screen and (max-width: 600px) {
    .article {
        border-style: none;
        width: min-content;
        text-align: justify;
    }
    .post-image {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .blog {
        background-color: #FFFFFF;
    }
    .article {
        border-style: none;
    }
    p.author {
        text-align: justify;
        padding-left: 20%;
    }
    .post-image {
        display: inline-block;
    }
    p {
        text-align: justify;
    }
} */