/* body content styling */

.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* flexbox elements styling */

.article-container {
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #D9D9D9;
    padding: 2% 2%;
    margin: 0 10%;
    width: 70%;
    height: 50%;
    border: solid #284B63;
    margin: 3% 5%;
}

.article {
    display: flex;
}

.article-content-container {
    display: flex;
}

.article-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-around;
    height: 50%;
}

/* image and article contents styling */

.article-container img {
    width: 80%;
}

.article-container ins, .article-content-container {
    padding: 2%;
}

/* icon element styling */

.button-read-more {
    background-color: #284B63;
    padding: 2% 2%;
    font-size: 15px;
    color: #FFFFFF;
    border-style: none;
}

.button-read-more:hover {
    background-color: #FFFFFF;
    color: #284B63;
    border-style: none;
}

ins {
    font-style: italic;
    text-decoration: none;
}

/* @media rule styling */

@media screen and (max-width: 600px) {
    .article-container {
        display: block;
    }
    .article-content-container {
        height: fit-content;
    }
    .image-section {
        display: none;
    }
}