html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 10px;
    flex-basis: 100%;
    text-align: center;
    padding: 3% 5%;
    margin: 0% 15%;
}

.text-container {
    width: 50%;
    padding: 3% 5%;
}

.form-container {
    width: 50%;
    padding: 3% 5%;
}

/* @media only screen and (max-width: 600px) {
    body {
        display: block;
    }
}

@media only screen and (max-width: 500px) {
    body {
        display: block;
    }
    h1, h2, p {
        font-size: medium;
    }
    .photo {
        display: none;
    }
} */