html, body {
    width: 100%;
    height: auto;
    text-rendering: optimizeLegibility;
}
body {
    margin: 0;
    background-size: 100% 100%;
    background-color: #FFFFFF;
}
nav {
    background-color: #D9D9D9;
    color: #3C6E71;
    padding: 20px 10px;
}
.logo {
    display: flex;
    width: 20%;
    height: 15%;
    border-radius: 50%;
    padding-right: 10px;
}
.logo p {
    font-family: 'Permanent Marker';
    color: #3C6E71;
}
.home-links {
    font-family: Lora;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navigation {
    padding: 0 10px;
}
main {
    margin: 10%;
    padding: 10%;
}
.photo-container {
    width: 30%;
    height: 30%;
    border-radius: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    float: right;
}
.header-container {
    width: 70%;
    height: 50%;
    display: flex;
    align-content: center;
    text-align: center;
}

h1 {
    font-family: 'Permanent Marker';
    font-size: 45px;
    color: #284B63;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}
h2 {
    font-family: Lora;
    font-size: large;
    color: #3C6E71;
    text-align: center;
}
p {
    font-family: Lato;
    color: #353535;
    text-align: right;
    padding: 10% 10%;
}
.links {
    font-size: 30px;
    align-items: center;
    padding: 10px 10px;
    color: #D9D9D9;
}
.side-by-side {
    width: 100%;
    display: block;
    justify-content: space-evenly;
    padding: 10px 10px;
    flex-basis: 100%;
    text-align: center;
}
.side-by-side p{
    text-align: center;
}
.image {
    align-items: center;
    color: #3C6E71;
}
.box {
    flex: 1 1 0;
    text-align: center;
    background-color: #D9D9D9;
    margin: 0 2px;
    border-radius: 5%;
}
footer {
    background-color: #D9D9D9;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.social-links {
    width: 100%;
    height: 50%;
    background-color: #3C6E71;
    display: flex;
    justify-content: space-evenly;
    padding: 0 10px;
}
.copyright {
    width: 100%;
    height: 50%;
}
@media only screen and (max-width: 600px) {
    body {
        width: 100%;
        margin: 0;
    }
    /* add hamburger */
    .side-by-side {
        display: block;
    }
}
@media only screen and (min-width: 769px) {
    body {
        width: 100%;
        margin: 0;
    }
    .side-by-side {
        display: inline-flex;
    }
}